html {
    color: antiquewhite;
    font-size: 30px;

    body {
        min-height: 100vh;
        background: url('img/background.jpeg') no-repeat center center / cover;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        min-height: 60vh;

        .button {
            font-size: 25px;
            min-width: 150px;
            min-height: 60px;
            color: rgb(0, 0, 0);
            background-color: rgb(246, 219, 183);
            transition: all 0.5s ease;
            border: none;
            border-radius: 5px;
            margin: 50px auto 0;
            cursor: pointer;
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.8);


            &:hover {
                background-color: rgb(246, 219, 183);
                transform: scale(1.1);
                box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.8);
                color: rgb(0, 0, 0);
            }

            &:active {
                transform: scale(1.08)
            }
        }

        .username_input {
            font-size: 25px;
            min-width: 120px;
            outline: none;
            box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.8);
        }


        .app-header {
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 80px;

            .settings {
                display: flex;
                flex-direction: column;

                .cardback {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;

                    select {
                        font-size: 22px;
                    }

                    label {
                        margin-bottom: 20px;
                    }
                }

                .level {
                    display: flex;
                    flex-direction: column;

                    label {
                        margin-bottom: 17px;

                    }
                }
            }

            #timer {
                font-size: 80px;
            }

            #current {
                font-size: 60px;
                display: inline-block;
            }
        }

        .playground {
            min-height:60vh;
            margin: 0 auto;
            max-width: 810px;
            font-size: 100px;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;

            .cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
            }

            .card {
                display: inline-block;
                margin: 5px;
                border: 1px solid transparent;
                border-radius: 10px;
                width: 150px;
                height: 200px;
                background: url('img/roses.png') no-repeat center center / cover;
                cursor: pointer;
                box-shadow: -20px 30px 30px rgba(0, 0, 0, 0.8);
                transition: background-image 0.7s, transform 0.7s, opacity 1s;


                &_turned {
                    box-shadow: 50px 30px 30px rgba(0, 0, 0, 0.8);
                    transform: rotateY(180deg) scale(1.1);
                    opacity: 1;
                }

                &_inactive {
                    background-color: transparent;
                    pointer-events: none;
                }
            }
        }
    }
    #leaders {
        
        text-align: center;
        background-color: rgba(0, 0, 0, 0.39);
        padding: 0px 0 20px;
    }
}